.chat_side
  .side_header
    .side_box
      .side_box_name
        masa
      .side_box_menu
        .side_box_menu_new_group
          = link_to "#" do
            = icon('fa', 'edit')
        .side_box_menu_edit_user
          = link_to "#" do
            = icon('fa', 'cog')

  .chat_side_groups
    .chat_side_groups_group_name
      techcamp
    .chat_side_groups_latest_message
      まだメッセージがありません。